<div class="w-100 mb-sm" fxLayoutAlign="end center">
  <button (click)="close()" class="exit-icon" mat-icon-button><mat-icon>clear</mat-icon></button>
</div>
<h1 class="mt-0 mb-xs mlr-auto">Add Video Url</h1>
<form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="addVideoForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Dropbox Url:</mat-label>
    <input type="text" formControlName="url" class="form-control white" matInput/>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Frame rate:</mat-label>
    <input type="number" formControlName="fps" class="form-control white" matInput/>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="fill" *ngIf="tutorial">
    <mat-label>Range Floor:</mat-label>
    <input type="number" formControlName="floor" class="form-control white" matInput/>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="fill" *ngIf="tutorial">
    <mat-label>Range Ceiling:</mat-label>
    <input type="number" formControlName="ceiling" class="form-control white" matInput/>
  </mat-form-field>
  <div class="w-100 mb-sm" fxLayoutAlign="start center" *ngIf="tutorial">
    <label>Quality: </label>
    <mat-radio-group formControlName="quality">
      <mat-radio-button class="ml-xs mr-xs" value="good">Good</mat-radio-button>
      <mat-radio-button class="mr-xs" value="noBubbles">No Bubbles</mat-radio-button>
      <mat-radio-button value="private" value="washOut">Wash Out</mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button color="primary" class="mb-xs mt-xs w-100" [disabled]="addVideoForm.invalid">
    <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
      <div class="placeholder mr-sm"></div>
      <h1>Add Video</h1>
      <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
      <div class="placeholder ml-sm" *ngIf="!loading"></div>
    </div>
  </button>
</form>
