<div class="confirmation" fxLayout="column" fxLayoutAlign="center center">
  <div class="title" [class.mb-sm]="!conformationData.description">
      <h1 class="mb-sm">{{ conformationData.message }}</h1>
  </div>
  <div class="more-info" *ngIf="conformationData.description">
      <p class="mt-0">{{ conformationData.description }}</p>
  </div>
  <div class="button-row" fxLayout="row" fxLayoutAlign="center center" *ngIf="conformationData.options">
    <button mat-button class="mr-xs p-xs" (click)="click(conformationData.options[0])" [ngStyle]="{ 'background-color': '#57b8ff' }">
      <p class="m-auto">{{ conformationData.options[0] }}</p>
    </button>
    <button mat-button class="ml-xs p-xs" (click)="click(conformationData.options[1])" [ngStyle]="{ 'background-color': '#6F8695' }">
      <p class="m-auto">{{ conformationData.options[1] }}</p>
    </button>
  </div>
</div>
