@import '../../../vars.scss';
@import './dashboard-colors.scss';

$gridline-color: black;
$graphtick-color: green;
.main {
  width: 100vw;
  background-image: url('../../../assets/pictures/surface-of-ocean.jpg');
  background-position : center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 85px);
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.announcement-tile {
  background-color: $background-color;
  border-radius: $border-radius;
  color: $text-color;
  margin-bottom: 8px;
  @media screen and (min-width: $screen-medium) {
    margin-bottom: 16px;
  }
}

.announcement-text {
  font-family: $roboto;
  color: $text-color;
  font-size: $font-md;
}

.expand-button {
  @media screen and (min-width: $screen-medium) {
    margin-left: auto;
    margin-right: 8px;
  }
}

.icon {
  font-size: 40px;
  margin-left: -7px;
}

.dan-logo {
  height: 70px;
  width: auto;
  padding-top: 12px;
  @media screen and (max-width: 370px) {
    height: auto;
    width: calc(100vw - 120px)
  }
  @media screen and (max-width: 400px) {
    visibility: hidden;
    width: 0px;
  }
}

.placeholder {
  height: 25px;
  width: 25px;
}

.left-chart {
  height: 381px;
  @media screen and (min-width: $screen-extra-small) {
    height: 332px;
  }
  @media screen and (min-width: $screen-small) {
    height: 432px;
  }
  padding: 8px;
  @media screen and (min-width: $screen-medium) {
    padding-left: 0px;
    height: 596px;
  }
}

.right-chart {
  padding: 8px;
  @media screen and (min-width: $screen-medium) {
    padding-right: 0px;
  }
}

.graph-chart {
  height: 350px;
  @media screen and (min-width: $screen-extra-small) {
    height: 300px;
  }
  @media screen and (min-width: $screen-small) {
    height: 400px;
  }
  @media screen and (min-width: $screen-medium) {
    height: 548px;
  }
}

.side-menu1 {
  width: 200px;
  height: 100%;
  background-color: #1D1E2C;
}

.subtitle-text {
  font-family: $roboto;
}

.chart {
  width: 100%;
  max-width: 800px !important;
  height: 100%;
  max-height: 800px;
}


.button-container {
  max-width: 900px;
}

.mobile-menu-button {
  font-size: 22px !important;
}

::ng-deep .ngx-charts {
  text{
    fill: #000000 !important;
  }
}

:host ::ng-deep .x.axis {
  g {
    .ng-star-inserted {
      visibility: hidden;
    }
    .tick.ng-star-inserted {
      visibility: visible;
    }
  }
}

:host ::ng-deep .ngx-charts {
  .tick{
    text{ // the tick lables
      fill: $graphtick-color !important;
      font-size: .6rem !important;
      @media screen and (min-width: $screen-medium) {
        font-size: .75rem !important;
      }
    }
  }
  text { // the headers
    fill: $primary-color;
    font-size: $font-md;
    @media screen and (min-width: $screen-medium) {
      font-size: $font-lg;
    }
  }
  .gridline-path { // the color of the gridlines
    stroke: $gridline-color !important;
  }
  .gridline-path-vertical { // displaying the vertical lines or not
    display: none !important;
  }
}

.tile {
  padding: 8px;
  padding-bottom: 4px;
  padding-top: 0px;
  @media screen and (max-width: $screen-medium) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 8px;
  }
}

.tile:nth-child(1) {
  @media screen and (min-width: $screen-medium) {
    padding-left: 0px !important;
  }

}

.tile:last-child {
  @media screen and (min-width: $screen-medium) {
    padding-right: 0px !important;
  }
}

.logo {
  width: 384px;
  height: 70px;
  margin-right: 48px;
  @media screen and (max-width: 1150px){
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
}

.mobile-nav-menu {
  position: fixed;
  height: 100vh !important;
  background-color: #F2EFEA;
  z-index:3;
  .buttons {
    height: 300px;
  };
}

.tool-bar {
  height: 85px;
  z-index: 4;
}

.buttons {
  font-family: $roboto;
  font-weight: 200;
  button {
    text-align: start;
    font-size: 18px;
  }
  .raised-button {
    background-color: #00A7E1;
    color: white;
  }
}
