<div class="w-100" fxLayoutAlign="end center">
  <button (click)="close()" class="exit-icon" mat-icon-button><mat-icon>clear</mat-icon></button>
</div>
<div class="welcome-info mb-sm" fxLayout="column" fxLayoutAlign="center center">
  <h1>Welcome!</h1>
  <div class="seperator w-100 mb-sm"></div>
  <p>Thank you for helping us in our quest to better understand the link between decompression bubbles and their effect on diving!</p>
  <p fxHide.lt-md>Have a look around and when you are ready to begin rating videos, click the button labeled "Complete Tutorial"</p>
  <p fxHide.gt-sm>This website is designed to be used on a larger screen and some of the features are locked. Please either full screen the browser or use a devices with a larger screen</p>
</div>
