@import '../../../vars.scss';

.main {
  background-color: #DCDCDC;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.placeholder {
  height: 25px;
  width: 25px;
}

.placeholder {
  width: 20px;
  height: 20px;
}

.button-container {
  margin-top: 8px;
  @media screen and (min-width: $screen-medium) {
    margin-top: -10px;
  }
}

.subtitle-text {
  font-family: $roboto;
}

.table-container {
  width: 100%;
  max-width: 900px;
  overflow: auto;
}

.display-videos {
  margin-bottom: -16px;
}

.menu-buttons {
  color: white;
  font-family: $roboto;
  font-weight: 200;
  button {
    text-align: start;
    font-size: 18px;
  }
}

.button-container {
  max-width: 900px;
}

.paginator {
  max-width: 900px;
}

.buttons {
  @media screen and (min-width: $screen-medium) {
    margin-left: auto;
    margin-right: 4px;
  }
}

.radio-buttons {
  margin-bottom: 8px;
  @media screen and (min-width: $screen-medium) {
    margin-bottom: 0px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: auto;
  }
}


table {
  width: 800px
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}


:host ::ng-deep .mat-row, .mat-header-row {
  background: white;
  min-width: 900px;
}

:host ::ng-deep .mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: #757575;
}

:host ::ng-deep .mat-sort-header-container {
  margin-top: 22px;
}

:host ::ng-deep .mat-form-field-flex {
  background-color: white;
}

.date {
  padding-top: 16px;
}
