@import '../../../vars.scss';

.exit-icon {
  margin-right: -25px;
  margin-top: -25px;
}

.date {
  font-size: 16px;
}

.outter {
  min-width: 50vw;
  @media screen and (max-width: $screen-small){
    min-width: 65vw;
  }
}
