<div class="outter w-100 p-sm" fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="column" id="video-parent" class="p-0" [ngStyle]="{ 'width.px': videoWidth, 'height.px': videoHeight }">
    <mat-icon class="locator fade-in-fast" *ngFor="let bubble of currentFrameBubbles" [ngStyle]="{ 'left.px': getX(bubble), 'top.px': getY(bubble), 'color': selectedColor }">clear</mat-icon>
    <mat-video class="video" [keyboard]="false" [preload]="true" [fullscreen]="false" [overlay]="!locatingBubbles" [class.disable-clicks]="locatingBubbles"  #video [showFrameByFrame]="true" src="{{ reviewVideo.url }}"></mat-video>
  </div>
<div class="color-picker" fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{ 'left.px': widthOffset - 250 }" *ngIf="showFrames">
  <h1 class="mt-xs mb-xs">Selector Color</h1>
  <button mat-fab class="m-xs" (click)="this.selectedColor=color" *ngFor="let color of colors" [ngStyle]="{ 'background-color': color }"></button>
</div>
<div class="frame-buttons" fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{ 'left.px': widthOffset + videoWidth + 16 }" *ngIf="showFrames">
  <h1 class="mt-xs mb-xs">Key Frames</h1>
  <div class="button-box w-100" *ngFor="let frame of frameLocations" fxLayout="row" fxLayoutAlign="start start">
    <div class="number-container">
      <p class="frame-slot-text mb-0">{{ frame.frameSlot + 1 }}.</p>
    </div>
    <div fxFill>
      <button class="frame-button" mat-raised-button (click)="setFrame(frame.time)" *ngIf="frame.time !== -1" [ngStyle]="{ 'background-color': '#57b8ff' }">Frame: {{ getFrame(frame.time) }}</button>
    </div>
  </div>
</div>
<div class="outter-playback-box" [ngStyle]="{ 'width.px': videoWidth }" *ngIf="!locatingBubbles && canPlay" fxFlex="row" fxLayoutAlign="start start">
  <div class="playbackBox mr-md">
    <mat-slider class="fade-in-fast" min="10" max="100" step="5" value="{{ playbackSpeed }}" (input)="setPlaybackSpeed($event)"></mat-slider>
    <p class="m-0 ml-xs fade-in-fast">Playback speed: {{ playbackSpeed }}%</p>
  </div>
</div>
<div class="video-info" [ngStyle]="{ 'width.px': videoWidth }" fxLayout="column" fxLayoutAlign="start end">
  <div class="ml-sm" fxLayout="column" fxLayoutAlign="start start">
    <p class="field capitalize mb-xs mt-xs">User Rating: {{ rating }}</p>
    <p class="field mb-xs mt-xs ellipsis">User: {{ email }}</p>
    <p class="field mb-xs mt-xs">Date: {{ date | date:'medium' }}</p>
  </div>
</div>
<div class="mlr-auto" fxLayout="column" fxLayoutAlign="center center" *ngIf="locatingBubbles">
  <button class="bottom-buttons fade-in-fast" mat-button (click)="doneLocatingBubbles()">Exit Frame</button>
</div>
<div class="mlr-atuo" fxLayout="column" fxLayoutAlign="center center">
  <button class="bottom-buttons fade-in-fast" (click)="returnToVideos()" mat-button>Back to videos</button>
  <button class="bottom-buttons fade-in-fast" mat-button>Delete Rating</button>
</div>

