<div class="main" fxLayout="row">
  <div class="side-menu">
    <div class="menu-buttons p-sm">
      <button mat-button class="w-100" (click)="locateBubbles()">Locate Bubbles</button>
      <button mat-button class="w-100">Help</button>
      <button mat-button class="w-100" (click)="adminNav()">Admin Panel</button>
    </div>
  </div>
  <div class="chart mlr-auto">
    <h1 class="mlr-auto">Crowdsourcing Analytics</h1>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="false"
    [results]="results"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [xAxisTickFormatting]="dateTickFormatting">
    </ngx-charts-line-chart>
  </div>
</div>
