<div class="main" fxLayout="row">
    <div class="side-menu">
      <div class="menu-buttons p-sm">
        <button mat-button class="w-100" (click)="navigate('videos')">Videos</button>
        <button mat-button class="w-100" (click)="navigate('assistants')">Assistants</button>
        <button mat-button class="w-100" *ngIf="owner" (click)="navigate('admins')">Admins</button>
        <button mat-button class="w-100" *ngIf="owner" (click)="navigate('owners')">Owners</button>
      </div>
    </div>
    <div class="content p-sm w-100" fxLayout="column" fxLayoutAlign="start center">
      <div class="title mt-sm" fxLayout="row" fxLayoutAlign="center start">
        <div class="placeholder mr-sm"></div>
        <h2 class="subtitle-text mlr-auto mt-0 mb-0 questerial">Assistants</h2>
        <mat-spinner [diameter]="25" class="ml-sm" *ngIf="loading"></mat-spinner>
        <div class="placeholder ml-sm" *ngIf="!loading"></div>
      </div>
      <div class="w-100 mb-xs button-container" fxLayoutAlign="end center">
        <button mat-raised-button (click)="addAdmin()">Add Assistant</button>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="userData" class="mat-elevation-z8">
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef fxFlex="33" fxLayoutAlign="start center">Email</th>
            <td mat-cell *matCellDef="let element" fxFlex="33" fxLayoutAlign="start center" class="ellipsis"> {{ element?.email }}</td>
          </ng-container>
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="start center">Role</th>
            <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="start center" class="ellipsis">{{ element?.role }}</td>
          </ng-container>
          <ng-container matColumnDef="uid">
            <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center">Uid</th>
            <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center" class="ellipsis"> {{ element?.uid }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="start center">Date</th>
            <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="start center" class="ellipsis">{{ element?.granted | date: 'shortDate' }}</td>
          </ng-container>
          <ng-container matColumnDef="expand" stickyEnd>
            <th mat-header-cell *matHeaderCellDef fxFlex="7" fxLayoutAlign="start center"></th>
            <td mat-cell *matCellDef="let element" fxFlex="7" fxLayoutAlign="start center">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="View Program">
                <mat-icon class="icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="makeAdmin(element)">Make Admin</button>
                <button mat-menu-item (click)="makeOwner(element)">Make Owner</button>
                <button mat-menu-item (click)="removeUserPermissions(element)">Remove Assistant</button>
                <button mat-menu-item (click)="deleteUser(element)">Delete User</button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
