@import '../../../vars.scss';

.landing-outter {
  height: calc(100vh - 85px);
  width: 100vw;
  background-image: url('../../../assets/pictures/surface-of-ocean.jpg');
  background-position : center bottom;
  background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

:host ::ng-deep .mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.logo {
  margin-top: 32px;
  width: 307px;
  height: 56px;
  @media screen and (min-width: $screen-small){
    width: 576px;
    height: 105px;
    margin-top: 64px;
  }
  @media screen and (min-width: $screen-medium){
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}


.learn-more {
  color: white;
  font-family: $roboto;
  font-size: 32px;
  font-weight: 300;
}
