<div class="confirmation" fxLayout="column" fxLayoutAlign="center center">
  <h1>{{ conformationData.message }}</h1>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button class="mr-xs" (click)="click(conformationData.options[0])" [ngStyle]="{ 'background-color': '#57b8ff' }">
      <p class="mt-xs mb-xs">{{ conformationData.options[0] }}</p>
    </button>
    <button mat-button class="ml-xs" (click)="click(conformationData.options[1])" [ngStyle]="{ 'background-color': '#6F8695' }">
      <p class="mt-xs mb-xs">{{ conformationData.options[1] }}</p>
    </button>
  </div>
</div>
