@import '../vars.scss';

$button-font-size: 22px;

.logo {
  width: 384px;
  height: 70px;
  @media screen and (max-width: 540px){
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

.logo-login {
  width: 384px;
  height: 70px;
  @media screen and (max-width: $screen-medium){
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

.tool-bar {
  height: 85px;
}

.buttons {
  font-family: $roboto;
  margin-right: 10px;
  margin-left: auto;

}

.login-button {
  font-size: $button-font-size;
}

.register-button {
  font-size: $button-font-size;
}

.icon {
  font-size: 40px;
  margin-left: -7px;
}

.tool-bar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}
