<mat-toolbar class="tool-bar">
    <img (click)="home()" class="logo" [ngClass]="{ 'logo-login': showLogin() }" src="../assets/pictures/BME_logo.png"/>
    <div class="buttons" fxLayout="row" fxLayoutAlign="center center" >
      <button mat-button class="login-button" (click)="login()" *ngIf="showLogin()">
        LOGIN
      </button>
      <button mat-button class="register-button" (click)="register()" *ngIf="showLogin()">
        REGISTER
      </button>
      <span *ngIf="!showLogin()">
        <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="icon">menu</mat-icon></button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="navigate('home')" mat-menu-item>Home</button>
          <span *ngIf="!showAdminMenu()">
            <button (click)="navigate('bubbleLocator')" mat-menu-item>Bubble Locator</button>
            <button (click)="navigate('admin/videos')" mat-menu-item>Admin Panel</button>
          </span>
          <span *ngIf="showAdminMenu()">
            <button mat-menu-item class="w-100" (click)="navigate('admin/videos')">Videos</button>
            <button mat-menu-item class="w-100" *ngIf="role === 'admin' || role === 'owner'" (click)="navigate('admin/assistants')">Assistants</button>
            <button mat-menu-item class="w-100" *ngIf="role === 'owner'" (click)="navigate('admin/admins')">Admins</button>
            <button mat-menu-item class="w-100" *ngIf="role === 'owner'" (click)="navigate('admin/owners')">Owners</button>
          </span>
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
      </span>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
