<div class="main p-sm" fxLayoutAlign="center start">
  <div class="recover-box w-100 p-sm fade-in-fast" fxLayout="column" fxLayoutAlign="center center" *ngIf="!emailSent">
    <div class="underline w-100 mb-sm">
      <h1 class="mt-sm mb-xs mlr-auto weight-300">Recover Account Password</h1>
    </div>
    <form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 mb-xs" appearance="fill">
        <mat-label>Account Email:</mat-label>
        <input type="email" formControlName="email" class="form-control" matInput/>
        <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mb-xs submit-button" [disabled]="recoverForm.pristine || recoverForm.invalid">
        <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <div class="placeholder mr-sm"></div>
          <h1 class="weight-300 mt-sm mb-sm">Send Email</h1>
          <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
          <div class="placeholder ml-sm" *ngIf="!loading"></div>
        </div>
      </button>
    </form>
    <button mat-button (click)="goToLogin()" class="mlr-auto mt-sm white subtitle weight-300">Back to login</button>
  </div>
  <div class="recover-box w-100 p-sm" fxLayout="column" fxLayoutAlign="center center" *ngIf="emailSent">
    <div class="underline w-100 mb-sm">
      <h1 class="mt-sm mb-xs mlr-auto weight-300">Recovery Email Sent!</h1>
    </div>
    <h2 class="mb-xs mlr-auto weight-300">Please check your email to change your password.</h2>
    <h2 class="mlr-auto weight-300">Make sure to check your Junk or Spam mailbox if you do not see a recovery email.</h2>
    <button mat-raised-button (click)="goToLogin()" color="primary" class="mb-xs submit-button">
      <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="weight-300 mt-xs mb-xs">Go to login</h1>
      </div>
    </button>
  </div>
</div>
