<div class="contributor-outter w-100 p-sm" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
  <div class="about-box w-100" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ conntributor.name }}</h1>
    <a href="{{ conntributor.linkedIn }}" rel="noopener noreferrer" target="_blank">
      <img class="contributor-picture" alt="picture of {{ conntributor.name }}" src='../../../../assets/pictures/contributor-pictures/{{ conntributor.picture }}'>
    </a>
    <p class="mt-xs">{{ conntributor.title }}</p>
  </div>
  <div class="bio-box">
    <p>{{ conntributor.bio }}</p>
  </div>
</div>
