@import '../../../vars.scss';

:host ::ng-deep .mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.main {
  height: calc(100vh - 85px);
  width: 100vw;
  background-image: url('../../../assets/pictures/surface-of-ocean.jpg');
  background-position : center bottom;
  background-size: cover;
	background-repeat: no-repeat;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}


.login-box {
  max-width: 600px;
  margin-top: 40px;
  background-color: rgba(#212121, .75);
  border-radius: 4px;
}

.underline {
  border-bottom: 1px solid white;
}

.white {
  color: white;
}

.submit-button {
  width: 100%;
  max-width: 300px;
  border-radius: 34px;
}

.placeholder {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}

:host ::ng-deep .mat-form-field-flex {
  background-color: white;
}

:host ::ng-deep .mat-form-field-flex{
  border-radius: 0px !important;
}

h1 {
  color: white;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 32px;
  letter-spacing: 2px;
}

.subtitle {
  font-size: $font-md;
  font-family: $roboto;
}

:host ::ng-deep .mat-form-field-label {
  color: black;
}

.weight-300 {
  font-weight: 400;
}
