@import '../../../vars.scss';

.menu-icon {
  margin-top: 4px;
}

.placeholder {
  height: 25px;
  width: 25px;
}

.outter {
  overflow-x: hidden;
}

.title {
  text-align: center;
  h1 {
    font-size: 32px !important;
    @media screen and (max-width: $screen-small) {
      font-size: 24px;
    }
  }
}

.logout-button {
  background-color: #00A7E1;
  color: white;
}

.exit-icon {
  margin-right: -25px;
  margin-top: -25px;
}
