.title {
  text-align: center;
}

.more-info {
  p {
    text-align: center;
    line-height: 1.4;
    font-size: 22px;
    color: #6F8695
  }
}

h1 {
  font-size: 36px !important;
}

button {
  width: 120px;
  text-align: center;
}

p {
  color: white;
  font-size: 24px;
}

.exit-icon {
  margin-right: -25px;
  margin-top: -25px;
  width: 42px;
}

.placeholder {
  height: 25px;
  width: 25px;
}

:host ::ng-deep .mat-button-ripple {
  visibility: hidden !important;
}

